@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
header{
    display: flex;
    height: 30vh;
    background-color: #63a164;
    justify-content: center;
    align-items: center;
    
}
/* header h1{
    font-size: 60px;
    color: black;
    opacity: 60%;
    width: 50%;
    text-align: center;
    background-color: white;
} */

.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-left: 10%;
    padding-right: 10%;

}

.menu li {
    list-style: none;
    
}
.menu li a{
    text-decoration: none;
    color: black;
    min-height: 5vh;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
    
}

.menu li a:hover{
    background-color: gray;
    opacity: 20%;
    color: white;
}

.donate{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #e28a18;
    color: white;
    min-height: 5vh;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    
}

.servicos {
    display: flex;
    flex-direction: column;
}

.proposito{
    display: flex;
    flex-direction: row;
    background-color: #e28a18;
    width: 100%;
    
    
}
.proposito img{
    width: 50%;
    height: 33%;
}
.propositoItems{
    padding: 10vh;
}


.propositoItems h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
}

.propositoItems p{
    padding: 3% 11% 0% 11%;
}
    .propositoItems button {
        display: flex;
        margin-top: 20px;
        margin-left: 11%;
        /* margin-right: auto; */
        background-color: rgba(58, 182, 58, 0.87);
        border-radius: 7px;
        box-shadow: 2px 2px 2px 1px black;
    }
.propositoItems a{
    text-decoration: none;
    padding: 0px 70px 0px 70px;
    color: white;
    font-size: 20px;
}

.doacao{
    display: flex;
    width: 100%;
    height: 33%;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10vh;
    background-color: #63a164;
}

.doacaoItems{
    padding: 10vh;
}

.doacaoItems h2{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
}


.doacaoItems{
    padding: 3% 11% 0% 11%;
}
.doacao img{
    width: 30%;
}

.doacaoItems button {
    display: flex;
    background-color: rgba(58, 182, 58, 0.87);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px black;
}

.doacaoItems a{
    padding: 0px 80px 0px 80px;
    text-decoration:none;
    font-size: 20px;
    color:white;
}
.adquirir {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color:yellowgreen;
}

.adquirirItems{
    padding:10vh;
}

.adquirirItems h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
}

.adquirirItems button {
    display: flex;
    background-color: rgba(58, 182, 58, 0.87);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px black;
}

.adquirirItems a {
    padding: 0px 80px 0px 80px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.adquirir img{
    width: 600px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: white;
}
.infoFresh li{
    list-style: none;
}

.contato li{
    list-style: none;
}

.infoFresh a{
    text-decoration: none;
    color: black;
}